<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubles.mvcboard.mappers.upload.ArticleFileMapper">

    <insert id="addFile">
        INSERT INTO tbl_article_file (
            file_name
            , article_no
        ) VALUES (
            #{fileName}
            , LAST_INSERT_ID()
        )
    </insert>

    <select id="getArticleFiles" resultType="string">
        SELECT file_name
        FROM tbl_article_file
        WHERE article_no = #{articleNo}
        ORDER BY reg_date
    </select>

    <delete id="deleteFile">
        DELETE FROM tbl_article_file
        WHERE file_name = #{fileName}
    </delete>

    <delete id="deleteFiles">
        DELETE FROM tbl_article_file
        WHERE article_no = #{articleNo}
    </delete>

    <insert id="replaceFile">
        INSERT INTO tbl_article_file (
            file_name
            , article_no
        ) VALUES (
            #{fileName}
            , #{articleNo}
        )
    </insert>

    <update id="updateFileCnt">
        UPDATE tbl_article
        SET file_cnt = (
            SELECT COUNT(article_no)
            FROM tbl_article_file
            WHERE article_no = #{articleNo}
        )
        WHERE article_no = #{articleNo}
    </update>

</mapper>