<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubles.mvcboard.mappers.article.ArticleMapper">

    <insert id="create">
        INSERT INTO tbl_article (
            article_no
            , title
            , content
            , writer
            , file_cnt
        ) VALUES (
            #{articleNo}
            , #{title}
            , #{content}
            , #{writer}
            , #{fileCnt}
        )
    </insert>

    <select id="read" resultMap="ArticleResultMap">
        SELECT
            article_no
            , title
            , content
            , writer
            , reg_date
            , view_cnt
            , file_cnt
        FROM
            tbl_article
        WHERE article_no = #{articleNo}
    </select>

    <update id="update">
        UPDATE tbl_article
        SET
            title = #{title}
            , content = #{content}
            , file_cnt = #{fileCnt}
        WHERE
            article_no = #{articleNo}
    </update>

    <delete id="delete">
        DELETE FROM tbl_article
        WHERE article_no = #{articleNo}
    </delete>

    <select id="listAll" resultMap="ArticleResultMap">
        <![CDATA[
        SELECT
            article_no
            , title
            , content
            , writer
            , reg_date
            , view_cnt
            , file_cnt
        FROM tbl_article
        WHERE article_no > 0
        ORDER BY article_no DESC, view_cnt DESC
        ]]>
    </select>

    <select id="listPaging" resultMap="ArticleResultMap">
        <![CDATA[
        SELECT
            article_no
            , title
            , content
            , writer
            , reg_date
            , view_cnt
            , file_cnt
        FROM tbl_article
        WHERE article_no > 0
        ORDER BY article_no DESC, reg_date DESC
        LIMIT #{page}, 10
        ]]>
    </select>

    <select id="listCriteria" resultMap="ArticleResultMap">
        <![CDATA[
        SELECT
            article_no
            , title
            , content
            , writer
            , reg_date
            , view_cnt
            , reply_cnt
            , file_cnt
        FROM tbl_article
        WHERE article_no > 0
        ORDER BY article_no DESC, reg_date DESC
        LIMIT #{pageStart}, #{perPageNum}
        ]]>
    </select>

    <select id="countArticles" resultType="int">
        <![CDATA[
        SELECT
            COUNT(article_no)
        FROM tbl_article
        WHERE article_no > 0
        ]]>
    </select>

    <select id="listSearch" resultMap="ArticleResultMap">
        <![CDATA[
        SELECT
            article_no
            , title
            , content
            , writer
            , reg_date
            , view_cnt
            , reply_cnt
            , file_cnt
        FROM tbl_article
        WHERE article_no > 0
        ]]>
          <include refid="search"/>
        <![CDATA[
        ORDER BY article_no DESC, reg_date DESC
        LIMIT #{pageStart}, #{perPageNum}
        ]]>
    </select>

    <select id="countSearchedArticles" resultType="int">
        <![CDATA[
        SELECT
            COUNT(article_no)
        FROM tbl_article
        WHERE article_no > 0
        ]]>
        <include refid="search"/>
    </select>

    <update id="updateReplyCnt">
        UPDATE tbl_article
        SET reply_cnt = reply_cnt + #{amount}
        WHERE article_no = #{articleNo}
    </update>

    <update id="updateViewCnt">
        UPDATE tbl_article
        SET view_cnt = view_cnt + 1
        WHERE article_no = #{articleNo}
    </update>

    <sql id="search">
        <if test="searchType != null">
            <if test="searchType == 't'.toString()">
                AND title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'c'.toString()">
                AND content LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'w'.toString()">
                AND writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'tc'.toString()">
                AND (
                    title LIKE CONCAT('%', #{keyword}, '%')
                    OR content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="searchType == 'cw'.toString()">
                AND (
                    content LIKE CONCAT('%', #{keyword}, '%')
                    OR writer LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="searchType == 'tcw'.toString()">
                AND (
                    title LIKE CONCAT('%', #{keyword}, '%')
                    OR content LIKE CONCAT('%', #{keyword}, '%')
                    OR writer LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </if>
    </sql>

    <resultMap id="ArticleResultMap" type="ArticleVO">
        <id property="articleNo" column="article_no"/>
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="writer" column="writer" />
        <result property="regDate" column="reg_date" />
        <result property="viewCnt" column="view_cnt" />
        <result property="replyCnt" column="reply_cnt" />
        <result property="fileCnt" column="file_cnt" />
    </resultMap>

</mapper>