<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubles.ex03.mapper.MessageMapper">

    <!--메시지 작성-->
    <insert id="create">
        INSERT INTO tbl_message (
            targetid
            , sender
            , message
        ) VALUES (
            #{targetid}
            , #{sender}
            , #{message}
        )
    </insert>

    <!--메시지 조회-->
    <select id="readMessage" resultType="MessageVO">
        SELECT * FROM tbl_message
        WHERE mno = #{mno}
    </select>

    <!--메시지 열람시간 수정-->
    <update id="updateState">
        UPDATE tbl_message
        SET opendate = NOW()
        WHERE mno = #{mno}
    </update>

</mapper>