<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubles.ex03.mapper.PointMapper">

    <!--메시지 작성-->
    <update id="updatePoint">
        UPDATE tbl_user
        SET upoint = upoint + #{point}
        WHERE uid = #{uid}
    </update>

</mapper>