<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubles.mvcboard.mappers.tutorial.MemberMapper">

    <select id="getTime" resultType="string">
        SELECT NOW()
    </select>

    <insert id="insertMember">
        INSERT INTO tbl_member (
            userid
            , userpw
            , username
            , email
        ) VALUES (
            #{userid}
            , #{userpw}
            , #{username}
            , #{email}
        )
    </insert>

    <select id="selectMember" resultType="com.doubles.mvcboard.tutorial.domain.MemberVO">
        SELECT *
        FROM tbl_member
        WHERE userid = #{userid}
    </select>

    <select id="readWithPW" resultType="com.doubles.mvcboard.tutorial.domain.MemberVO">
        SELECT *
        FROM tbl_member
        WHERE userid = #{userid} AND userpw = #{userpw}
    </select>

</mapper>