<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubles.mvcboard.mappers.tutorial.PointMapper">

    <update id="updatePoint">
        UPDATE tbl_user
        SET user_point = user_point + #{userPoint}
        WHERE user_id = #{userId}
    </update>

</mapper>