<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubles.ex05.mapper.UserMapper">

    <!--로그인 처리-->
    <select id="login" resultType="UserVO">
        SELECT
            uid
            , upw
            , uname
        FROM tbl_user
        WHERE
            uid = #{uid}
            AND upw = #{upw}
    </select>

    <!--로그인 유지-->
    <update id="keepLogin">
        UPDATE tbl_user
        SET
            sessionkey     = #{sessionId}
            , sessionlimit = #{next}
        WHERE uid = #{uid}
    </update>

    <!--Session Key 확인-->
    <select id="checkUserWithSessionKey" resultType="UserVO">
        SELECT *
        FROM tbl_user
        WHERE sessionkey = #{value}
              AND sessionlimit > NOW()

    </select>
</mapper>