<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubles.ex01.mapper.BoardMapper">

    <!--게시글 입력-->
    <insert id="create">
        INSERT INTO tbl_board (
            title
            , content
            , writer
        ) VALUES (
            #{title}
            , #{content}
            , #{writer}
        )
    </insert>

    <!--게시글 조회-->
    <select id="read" resultType="BoardVO">
        SELECT
            bno
            , title
            , content
            , writer
            , regdate
            , viewcnt
        FROM tbl_board
        WHERE bno = #{bno}
    </select>

    <!--게시글 수정-->
    <update id="update">
        UPDATE tbl_board
        SET title = #{title}, content = #{content}
        WHERE bno = #{bno}
    </update>

    <!--게시글 삭제-->
    <delete id="delete">
        DELETE FROM tbl_board
        WHERE bno = #{bno}
    </delete>

    <!--게시글 전체 목록-->
    <select id="listAll" resultType="BoardVO">
        <![CDATA[
        SELECT
            bno
            , title
            , content
            , writer
            , regdate
            , viewcnt
        FROM tbl_board
        WHERE bno > 0
        ORDER BY bno DESC, regdate DESC
        ]]>
    </select>

    <!--게시글 전체 목록 페이징처리 1 : 페이지 당 게시글의 갯수를 10으로 설정한 경우-->
    <select id="listPage" resultType="BoardVO">
        <![CDATA[
        SELECT
            bno
            , title
            , content
            , writer
            , regdate
            , viewcnt
        FROM tbl_board
        WHERE bno > 0
        ORDER BY bno DESC, regdate DESC
        LIMIT #{pageStart}, 10
        ]]>
    </select>

    <!--게시글 전체 목록 페이징처리 2 : 페이지 당 게시글의 갯수를 파라미터로 받을 경우-->
    <select id="listCriteria" resultType="BoardVO">
        <![CDATA[
        SELECT
            bno
            , title
            , content
            , writer
            , regdate
            , viewcnt
        FROM tbl_board
        WHERE bno > 0
        ORDER BY bno DESC, regdate DESC
        LIMIT #{pageStart}, #{perPageNum}
        ]]>
    </select>

    <!--전체 게시글의 갯수-->
    <select id="countPaging" resultType="int">
        <![CDATA[
        SELECT COUNT(bno)
        FROM tbl_board
        WHERE bno > 0
        ]]>
    </select>

    <select id="listSearch" resultType="BoardVO">
        <![CDATA[
        SELECT
          *
        FROM tbl_board
        WHERE bno > 0
        ]]>
        <include refid="search"/>
        <![CDATA[
        ORDER BY bno DESC
        LIMIT #{pageStart}, #{perPageNum}
        ]]>
    </select>

    <select id="listSearchCount" resultType="int">
        <![CDATA[
        SELECT COUNT(bno)
        FROM tbl_board
        WHERE bno > 0
        ]]>
        <include refid="search"/>
    </select>

    <sql id="search">
        <if test="searchType != null">
            <if test="searchType == 't'.toString()">
                AND title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'c'.toString()">
                AND content LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'w'.toString()">
                AND writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'tc'.toString()">
                AND (
                title LIKE CONCAT('%', #{keyword}, '%')
                OR content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="searchType == 'cw'.toString()">
                AND (
                content LIKE CONCAT('%', #{keyword}, '%')
                OR writer LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="searchType == 'tcw'.toString()">
                AND (
                title LIKE CONCAT('%', #{keyword}, '%')
                OR content LIKE CONCAT('%', #{keyword}, '%')
                OR writer LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </if>
    </sql>

</mapper>